<div class="row py-5">
    <div class="col-12">
        <h1>Add Company</h1>
    </div>
    <div class="col-12">
        <form class="form" [formGroup]="createCompany" novalidate="novalidate" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="my-profile-img" style="background-image: url('{{selectedImageUrl || defaultImage}}');"></div>
                        <div>
                            <button type="button" (click)="changePhoto()" class="btn btn-success mx-2 d-block mb-2">Change Logo</button>
                            <button *ngIf="selectedImageUrl" type="button" (click)="removePhoto()" class="btn btn-light mx-2">Remove Logo</button>
                        </div>
                        <input formControlName="image" id="photoInput" type="file" accept=".PNG,.JPEG,.jpg" (change)="readURL($event)" class="d-none" placeholder="Enter photo">
                        <p *ngIf="errorImageSize" class="c-red mb-0">Please select photo whith size less than 2M</p>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100">
                        <input formControlName="legalName" matInput placeholder="Company Name" required/>    
                    </mat-form-field>
                    <mat-error
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'Company name is required',
                        control: createCompany.controls['legalName']
                        }"
                    ></mat-error>
                    <mat-error
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                        validation: 'pattern',
                        message: 'Company name is invalid',
                        control: createCompany.controls['legalName']
                        }"
                    ></mat-error>
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100">
                        <input formControlName="adminEmail" matInput placeholder="Company Email Address">
                    </mat-form-field>
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100">
                        <mat-label>Company Description</mat-label>
                        <textarea matInput formControlName="description" rows="1"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="currencyId" placeholder="Currency" required>
                            <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <!-- <mat-form-field class="w-100">
                        <mat-select placeholder="Sub Major Type" (selectionChange)="getSubCategories($event)" multiple>
                            <div class="p-2 filter">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput (keyup)="search($event.target.value,'categories')" (keydown)="$event.stopPropagation()" class="w-100">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                            <mat-option *ngFor="let cat of categories" [value]="cat.id" [ngClass]="{'d-none': !cat.name?.toLowerCase().includes(categoriesFilter.toLowerCase())}">{{cat.name}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </div>
                <!-- <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="companyCategoryIds" placeholder="Categories" multiple>
                            <div class="p-2 filter">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput (keyup)="search($event.target.value,'subCategories')" (keydown)="$event.stopPropagation()" class="w-100">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                            <mat-optgroup *ngFor="let group of subCategories" [label]="group.name">
                                <mat-option *ngFor="let cat of group.categories" [value]="cat?.id" [ngClass]="{'d-none': !cat.name?.toLowerCase().includes(subCategoriesFilter.toLowerCase())}">{{cat?.name}}</mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-md-3 mb-3">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="countryId" placeholder="Country" (selectionChange)="getCities($event)" required>
                            <!-- <div class="p-2 filter">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput (keyup)="search($event.target.value,'countries')" (keydown)="$event.stopPropagation()" class="w-100">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div> -->
                            <mat-option *ngFor="let country of countries" [value]="country.id" [ngClass]="{'d-none': !country?.name?.toLowerCase()?.includes(countriesFilter?.toLowerCase())}">
                                <div class="d-flex align-items-center">
                                    <span class="symbol symbol-20 mr-3"><img [src]="country.flag"></span>{{country.name}}
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="cityId" placeholder="City" required>
                            <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field class="w-100">
                        <input formControlName="street" matInput placeholder="Street Name"/>    
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field class="w-100">
                        <input formControlName="buildingNo" matInput placeholder="Building Number"/>    
                    </mat-form-field>
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100">
                        <input formControlName="phone" matInput placeholder="Phone" required/>
                        <span *ngIf="getCountryCode()" matPrefix class="mr-4">+{{getCountryCode()}}</span>  
                        <mat-error
                            [ngTemplateOutlet]="formError"
                            [ngTemplateOutletContext]="{
                            validation: 'pattern',
                            message: 'Phone is invalid',
                            control: createCompany.controls['phone']
                            }"
                        ></mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100">
                        <input formControlName="mobile" matInput placeholder="Mobile" required/>
                        <span *ngIf="getCountryCode()" matPrefix class="mr-4">+{{getCountryCode()}}</span>  
                        <mat-error
                            [ngTemplateOutlet]="formError"
                            [ngTemplateOutletContext]="{
                            validation: 'pattern',
                            message: 'Mobile is invalid',
                            control: createCompany.controls['mobile']
                            }"
                        ></mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6 mb-3">
                    <app-upload-documents [selectedFiles]="documents" (selectFiles)="selectFiles($event)" class="row"></app-upload-documents> 
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100 mb-3">
                        <mat-select formControlName="businessType" placeholder="Main Major Type" (selectionChange)="getCategoriesByBusinessType()" required>
                            <mat-option *ngFor="let companyBusinessType of companyBusinessTypes" [value]="companyBusinessType.key">{{companyBusinessType.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button *ngIf="createCompany.controls.businessType.value" type="button" class="btn btn-success mb-2" (click)="openModal(catModal)">Select Categories</button>
                    <div class="chips-list" *ngIf="selectedCat.length > 0">
                        <span class="chip" *ngFor="let cat of selectedCat">
                            {{cat.name}} 
                            <!-- <mat-icon role="img" (click)="removeCat(cat)" class="cursor-pointer ml-2 mat-icon notranslate mat-chip-remove mat-chip-trailing-icon material-icons">cancel</mat-icon> -->
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success btn-lg px-5" [disabled]="createCompany.invalid">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <mat-error *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </mat-error>
</ng-template>

<ng-template #subCat let-categories="categories">
    <ng-container *ngIf="categories?.length > 0">
        <ng-container *ngFor="let cat of categories">
            <!-- <mat-expansion-panel *ngIf="cat.categories?.length > 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-checkbox [checked]="isChecked(cat)" (click)="clickCat($event)" (change)="selectCat($event,cat)" class="mx-2"></mat-checkbox> 
                        {{cat?.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div [ngTemplateOutlet]="subCat" [ngTemplateOutletContext]="{categories:cat.categories}">
                </div>
            </mat-expansion-panel> -->
            <mat-panel-title class="mat-expansion-panel-header-title noSub">
                <mat-checkbox [checked]="isChecked(cat)" (click)="clickCat($event)" (change)="selectCat($event,cat,'sub')" class="mx-2"></mat-checkbox> 
                {{cat?.name}}
            </mat-panel-title>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #catModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title mb-0">Select Categories</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body categories-modal-body">
        <mat-accordion class="custom-tree">
            <mat-expansion-panel *ngFor="let cat of categories">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-checkbox [checked]="isChecked(cat)" (click)="clickCat($event)" (change)="selectCat($event,cat,'main')" class="mx-2"></mat-checkbox> 
                        {{cat.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="cat.categories?.length > 0" [ngTemplateOutlet]="subCat" [ngTemplateOutletContext]="{categories:cat.categories}">
                </div>
            </mat-expansion-panel>
        </mat-accordion>    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.dismiss('Cross click')">Done</button>
    </div>
</ng-template>
