<div class="footer-section">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-links">
                    <ul>
                        <li>
                            <span class="footer-text">
                                Call Us
                            </span>
                        </li>
                        <li>
                            <span class="footer-text">
                                +962 7971644991
                            </span>
                        </li>
                        <li>
                            <span class="footer-text">
                                dawood.y@growthway.com
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-links">
                    <ul>
                        <li>
                            <a class="footer-text" href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a class="footer-text" href="#">
                                Careers
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-links">
                    <ul>
                        <li>
                            <a class="footer-text" href="#">
                                Terms and Conditions
                            </a>
                        </li>
                        <li>
                            <a class="footer-text" href="#">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 d-flex align-items-center">
                <div class="footer-social">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="./assets/images/facebook-f-brands.svg" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="./assets/images/twitter-brands.svg" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="./assets/images/instagram-brands.svg" alt="facebook">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
